

==========================================

Welcome to {{ ansible_facts['nodename'] }}

We installed the {{ application }} application.

The message we specified was {{ application_message }}.

==========================================
