

==========================================

Welcome to {{ ansible_facts['nodename'] }}

This system was last configured by ticket {{ snow_request }}.

This ticket installed the {{ application }} application.

==========================================
